<h1>Sign Up!</h1>

<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= form_for(@user) do |x| %>
    <%= x.label :username %>
    <%= x.text_field :username %>
    <br>
    <br>
    <%= x.label :email %>
    <%= x.email_field :email %>
    <br>
    <br>
    <%= x.label :password %>
    <%= x.password_field :password %>
    <br>
    <br>
    <%= x.submit "Submit" %>

<% end %>