<h1>New Game Pitch</h1>

<%= form_for(@game) do |x| %>
    <%= x.label "Choose a genre:" %>
    <%= x.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>

    <p>Or create a new one!
    <%= x.fields_for :genre do |g| %>
        <%= g.text_field :name%>
    <% end %>
    </p>

    <br>
    <br>

    <%= x.label :title %>
    <%= x.text_field :title %>

    <br>
    <br>

    <%= x.label :description %>
    <%= x.text_area :description %>
    
    <br>
    <br>

    <%= x.submit %>

<% end %>