<h1><%= @game.title %></h1>
<h2>By: <%= link_to @game.user.username, user_path(@game.user)%></h2>

<h3>Genre: <%= @game.genre.try(:name) %></h3>


<div><%= @game.description %></div>


<p><%= link_to 'Add a new comment', new_game_comment_path(@game) %></p>

<% if !@game.comments.empty? %>
  <p><%= link_to 'See all comments', game_comments_path(@game) %>
  <h4>Recent Comments!</h4>
  <% @game.comments.order(updated_at: :desc).limit(5).each do |c| %>
    <li>
      <strong><%= c.user.username %></strong> says "<%= link_to c.text, game_comments_path(@game, c)%>" 
    </li>
    <% end %>
<% end %>
