<h1><%= @game.title %></h1>
<h2 class="game_by">By: <%= link_to @game.user.username, user_path(@game.user)%></h2>

<h3 class="game_genre">Genre: <%= link_to @game.genre.try(:name), genre_path(@game.genre) %></h3>

<% if @game.user == current_user %>
<h4 class="button"><%= link_to "Edit Your Game Pitch", edit_game_path(@game)%></h4>
<%= form_tag action=(game_path(@game)), :method => :delete do %>
  <button type="submit" class="destroy">Delete Game Pitch</button>
  <br>
  <br>
  <% end %>
<% end %>


<div class="description">
  <h4>Game Description:</h4>
  <p><%= @game.description %></p>
  <br>
  <br>
</div>


<p class="button"><%= link_to 'Add a new comment', new_game_comment_path(@game) %></p>

<% if !@game.comments.empty? %>
  <p><%= link_to 'See all comments', game_comments_path(@game) %>
  <h4>Most Recent Comments!</h4>
  <% @game.comments.order(updated_at: :desc).limit(5).each do |c| %>
    <li>
      <strong><%= c.user.username %></strong> says "<%= link_to c.text, game_comment_path(c.game, c)%>" 
    </li>
    <% end %>
<% end %>
